/*
(0,91,150)
 	(0,80,115)

*/
:root {
    --background-color: #fff;
    --secondary-background-color: white;
    --primary-color: #009688;
    --secondary-color: #005073;
    --tertiary-color: #e8702a;
    --quarternary-color: #1a1a1a;
}

:root:has(#tema-scuro:checked) {
    --background-color: #1a1a1a;
    --secondary-background-color: #009688;

    --primary-color: #009688;
    --secondary-color: #005073;
    --tertiary-color: #e8702a;
    --quarternary-color: #f5f5f5;
}

body,
* {
    color: var(--quarternary-color);
    background-color: var(--background-color); /*003d47*/
}
h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

h3 {
    color: var(--tertiary-color);
}

p:has(> img) {
    display: flex;
    flex-direction: column;
}

img {
    margin: auto;
}

.identation {
    margin-left: 2em;
}


label {
    font-weight: bold;
    padding: 6px 8px; 
    background:var(--primary-color); 
    width: fit-content; 
    border-radius:8px; 
    display: flex; 
    gap:5px; 
    border: 1px solid var(--primary-color);
}
